/*
p {
  font-size: 1.8rem;
}
.section-hero {
  background-color: #2b2d42;
  max-width: 130rem;
  height: 100rem;
  margin: 0 auto;
}

.video-container {
  max-width: 1200px;
  height: 100%;
}
#video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.video-text {
  position: relative;
  top: 50rem;
  left: 50rem;
  z-index: 2;
}
.primary-heading {
  font-size: 2.4rem;
  color: #1864ab;
}
.secondary-heading {
  font-size: 3.6rem;
  color: #fff;
  line-height: 1.6;
}
*/

p {
  font-size: 1.6rem;
  color: #fff;
}
/*----------Header-----------*/

.logo {
  font-size: 4.4rem;
}

.header {
  height: 10rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  background-color: #2b2d42;
  color: #fff;

  position: relative;
}
/*
.header::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  border-bottom: 6px solid #000;
}*/

.main-nav-list {
  list-style: none;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.sec-nav-list {
  font-size: 1.4rem;
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.sec-nav-link:link,
.sec-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-nav-link:hover,
.main-nav-link:active,
.sec-nav-link:hover,
.sec-nav-link:active {
  border-bottom: 5px solid #1864ab;
  padding-bottom: 5rem;
}
.icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #fff;
  display: inline-block;
}

/* -----------Main section-----*/

.main-container {
  background-color: #2b2d42;
}
.container {
  max-width: 1300px;
  height: 800px;

  margin: 0 auto;
}

/*-----------Features Section--------*/

.features {
  padding-top: 2.4rem;
}

.features-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  color: #fff;
  padding-left: 5rem;
}

.features-link:link,
.features-link:visited {
  color: #fff;

  text-decoration: none;
}

.features-list li:not(:first-child) {
  border-left: 3px solid #1864ab;
  padding-left: 10px;
}

.video-container {
  padding-top: 2.4rem;
  max-width: 130rem;
  position: relative;
}

#video {
  max-width: 100%;
  height: auto;
  opacity: 70%;
}

.video-text {
  position: absolute;
  top: 300px;
  left: 100px;
}

.heading {
  font-size: 2rem;
  color: #1864ab;
  line-height: 1.6;
}

.secondary-heading {
  font-size: 3.6rem;
  color: #fff;
  line-height: 1.6;
  letter-spacing: 0.75;
}

/* ---------Section-about ---------*/

.section-about {
  padding-left: 6.4rem;
}
.primary-heading {
  font-size: 4.4rem;
  color: #1864ab;
  padding-top: 3.2rem;
}

.heading-desc {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #fff;
  padding-top: 2.4rem;
}

.grid-container {
  padding-top: 6.4rem;
  padding-left: 8rem;
}

.text-content-box {
  padding-top: 3.2rem;
}

.sub-heading {
  font-size: 3.2rem;
  color: #fff;
  line-height: 1.6;
}

.text-content {
  font-size: 2rem;
  color: #fff;
  line-height: 1.6;
  padding-top: 3.2rem;
}

.image-box {
  height: 60rem;
  overflow-y: hidden;
}

.image {
  max-width: 100%;
  height: auto;
}

.cta {
  font-size: 2rem;
  border: 2px solid #fff;
  font-weight: 700;
  color: #1864ab;
  background-color: #2b2d42;
  padding: 1.2rem 2.4rem;
  margin-top: 3.2rem;
}

/* -------- Insight Section ----*/

.main-heading {
  font-size: 4.4rem;
  color: #fff;
  line-height: 1.6;
  display: inline-block;
  margin: 6rem 30rem 10rem 18rem;
  /* padding: 4rem 14rem;*/
}

.box {
  margin: 0 auto;
  width: 90rem;
  height: 50rem;
}

.box-content {
  font-size: 1.8rem;
  color: #fff;
  line-height: 1.6;
  word-spacing: 0;
  margin-top: 5rem;
}

.company-specific {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15rem;
  position: relative;
}

.company-specific::before {
  display: block;
  content: "";
  position: absolute;
  top: 12rem;
  left: 700px;
  width: 1px;
  height: 100%;
  background-color: #fff;
}
.capability-box {
  margin-top: 20rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
/*
.capability-box::before {
  content: "";
  border-right: 5px solid #fff;
  padding-left: 10px;
  position: absolute;
  top: 100px;
  left: 0;
}
*/
.tertiary-heading {
  font-size: 3rem;
  color: #1864ab;
  margin-bottom: 1rem;
}

.content {
  font-size: 2rem;
  line-height: 1.6;
  color: #fff;
}

.link-box {
  margin-top: 20rem;
  margin-right: 25rem;
}

.btn:link,
.btn:visited {
  font-size: 1.5rem;
  color: #1864ab;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 1.4rem 2.8rem;
  margin-top: 30px;
  display: inline-block;
  margin-right: 2px;
}

/* -----------------Service section--------------*/

.service-grid {
  margin-top: 20rem;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  column-gap: 8rem;
}

.service-content {
  margin-left: 15rem;
  margin-top: 9rem;
}

.service-list {
  list-style: none;
}
.service-link:link,
.service-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
  padding-top: 2rem;
  border-bottom: 1px solid;
  padding-right: 220px;
  padding-bottom: 2rem;
  position: relative;
}

.plane-img {
  max-width: 80rem;
  height: 60rem;
}

.service-link:link::after {
  content: "";
  position: absolute;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  background: url(/content/icons8-arrow-25.png) no-repeat;
  left: 400px;
}

.career-box-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
}
.career-video-box {
  max-width: 70 rem;
}

.career-video {
  width: 100%;
  height: auto;
}

.career-content {
  margin: 10rem 15rem;
}

.career-para {
  padding-top: 3rem;
  font-size: 2rem;
  color: #fff;
  line-height: 1.6;
}

.learn-btn:link,
.learn-btn:visited {
  font-size: 2rem;
  color: #1864ab;
  display: inline-block;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 1.6rem 3.2rem;
  margin-top: 3rem;
}

.learn-btn:active,
.learn-btn:hover {
  background-color: #fff;
}

.connect-block {
  padding-bottom: 9rem;
}

/*---------Blog Section-------*/

.blog-section {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0;
  /* background-color: aquamarine;*/
}

.blog-grid,
team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 5rem;
  margin-bottom: 9rem;
}

.sec-head {
  font-size: 4.4rem;
  color: #000;
  font-weight: 200;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.blog-img {
  display: block;
  width: 100%;
}

.blog-head {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  word-spacing: 2;
  margin-bottom: 5rem;
}

.blog-content {
  font-size: 18px;
  line-height: 1.6;
  color: #888;
}

.blog-writer-info {
  display: flex;
  column-gap: 0.8rem;
  position: relative;
  margin-top: 2rem;
}
.date {
  font-size: 1.6rem;
  color: #888;
}

.name {
  color: #000;
  font-weight: 600;
  border-left: 2px solid #888;
  padding-left: 0.8rem;
}

.show-more-btn {
  margin-top: 5rem;
  margin-left: 30rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem 2rem;
  border: none;
}

/*---------Section Team------*/

.team-section {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0;
  /* background-color: aquamarine;*/
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 3rem;
}

.team-img-box {
  max-width: 45rem;
  height: 40rem;
}
.team-img {
  display: block;
  width: 100%;
  height: 100%;
}

.employee-content {
  background-color: #2b2d42;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 3rem;
}

.employee-name {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 2rem;
}

.recent-post {
  font-size: 1.6 rem;
  color: #1864ab;
  line-height: 1.4;
  margin-bottom: 1rem;
  display: none;
}

.past-job {
  font-size: 1.8;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.city {
  display: none;
}

.team:hover .city,
.team:hover .recent-post {
  display: block;
}

.team:hover .employee-content {
  transform: translateY(-4rem);
}

/*-----------Discover Section----------*/

.discover-section {
  background-color: #2b2d42;
  margin-top: 20rem;
  height: 40rem;
}
.discover-section-inner {
  max-width: 120rem;

  margin-left: 15rem;
}

.col2-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
}

.discover-block {
  margin-top: 15rem;
}

.related-topic {
  margin-left: 12rem;
}

.topic-head {
  margin-top: 13rem;
  margin-bottom: 1rem;
}
.btn-topic:link,
.btn-topic:visited {
  margin-top: 1.5rem;
  display: inline-block;
  padding: 0.8rem 1.6rem;
  margin-right: 1rem;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  border: 1px solid #fff;
}

.btn-topic:hover,
.btn-topic:active {
  color: #000;
  background-color: #fff;
}

/*--------Aside Section-------*/

.twitter-logo {
  font-size: 4rem;
  color: #228cf0;
  display: inline-block;
  margin-top: 5rem;
  margin-left: 70rem;
}

.subheading {
  font-size: 3rem;
  color: #000;
  text-align: center;
  font-weight: 100;
  margin-top: 2rem;
}

.share-views:link,
.share-views:visited {
  font-size: 2rem;
  text-decoration: none;
  display: inline-block;
  color: #000;
  border: 1px solid #000;
  padding: 1.6rem 3.2rem;
  margin-top: 10rem;
  margin-left: 65rem;
}

.share-views:hover,
.share-views:active {
  color: #fff;
  background-color: #000;
}

.subscribe-box {
  max-width: 130rem;
  height: 15rem;
  margin: 10rem auto;
  background-color: #2b2d42;
}

.subscribe-box {
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
  column-gap: 50rem;
}
.box-head {
  color: #fff;
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

.subscribe-content {
  margin-left: 10rem;
}

.btn-subscribe:link,
.btn-subscribe:visited {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  border: 2px solid #fff;
  background-color: #2b2d42;
  padding: 1.6rem 6rem;
}

/*---------Footer section-----------*/

.footer-section {
  max-width: 130rem;

  margin: 5rem auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20rem;
}

.footer-content-box {
  margin-top: 3rem;
}
.footer-content {
  font-size: 1.4rem;
  color: #333;
  margin-top: 3rem;
  line-height: 1.6;
}

.footer-menu:link,
.footer-menu:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin-left: 2rem;
  display: inline-block;
}

.footer-menu-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3rem;
}

.footer-icon {
  align-self: self-end;
}

.footer-icon {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 2px solid #888;
}
